<!doctype html>
<html>
<body>
<h1>Ken's Lifelong Education</h1>
<form method="POST" enctype="multipart/form-data" action="/">
    <div>
        <p style="display:inline-block">Upload <b>a user-item</b> dataset:</p>
        <input style="display:inline-block" type="file" id="my-user-item" name="my-user-item">
    </div>
    <div>
        <p style="display:inline-block">Upload <b>an item</b> dataset</p>
        <input style="display:inline-block" type="file" id="my-item" name="my-item">
    </div>
    <input type="submit">
</form>
</html>